.carousel-indicator {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  overflow: hidden;
}

.bg-soft-gradient {
  background-image: radial-gradient(circle at 50% 50%, rgba($mygreen, 0.34) 0%, rgba($myorange, 0.34) 100%);
}

.rounded-xl {
  border-radius: 26px;
}

.btn,
.form-control {
  border-radius: 0 !important;
}

.full-height-user {
  min-height: calc(100vh - 75.8px);
}

.full-height-app {
  min-height: calc(100vh - 92px);
}

.nav-tabs {
  .nav-item {
    .nav-link {
      color: $mygreen !important;

      &.active {
        font-weight: 700;
      }
    }
  }
}

.post {
  .card {
    &:hover {
      .position-absolute.bg {
        transform: scale(1.2);
      }
    }

    .position-absolute.bg {
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform-origin: center;
      z-index: -1;
      transition: all 0.5s;
    }
  }
}

.testimonial {
  .card {
    .card-text {
      opacity: 0;
      transition: all 0.5s;
    }

    .card-body {
      top: 40px;
      transition: all 0.5s;
    }

    &:hover {
      .position-absolute.bg {
        transform: scale(1.2);
      }

      .card-text {
        opacity: 1;
      }

      .card-body {
        top: 0;
      }
    }

    .position-absolute.bg {
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform-origin: center;
      z-index: -1;
      transition: all 0.5s;
    }
  }
}
