.news-letter-input{
    border: none!important;
    border-color: none!important;
    outline: 0!important;
    background-color: rgb(76, 82, 79)!important;
}
.news-letter-input:focus{
    border: none!important;
    border-color: none!important;
    outline: 0!important;
    color: white!important;
}