section.home {
  #banner {
    position: absolute;
    margin: auto;
    z-index: 10;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%) scale(0.9);
  }

  #carousel {
    .carousel-indicator {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;

      &.active {
        width: 14px !important;
        height: 14px !important;
        transform: translateY(4px);
      }
    }

    .carousel-inner {
      .carousel-item {
        background-position: center;
        background-size: cover;
      }
    }
  }

  #carousel-testimonials {
    .carousel-indicator {
      background-color: $secondary !important;

      &.active {
        background-color: $darkgreen !important;
      }
    }
  }
}
