section.home {
  #banner {
    position: absolute;
    margin: auto;
    z-index: 10;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%) scale(0.9);
  }

  #carousel {
    .carousel-indicator {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;

      &.active {
        width: 14px !important;
        height: 14px !important;
        transform: translateY(4px);
      }
    }

    .carousel-inner {
      .carousel-item {
        background-position: center;
        background-size: cover;
      }
    }
  }

  #carousel-testimonials {
    .carousel-indicator {
      background-color: $secondary !important;

      &.active {
        background-color: $darkgreen !important;
      }
    }
  }
}

@media screen and (max-width:1273px) {

  .carousel-text-1{
    font-size: 40px;
  }
}

@media screen and (max-width:1040px) {
  .why-us-content {
    font-size: 25px!important;
  } 

}

@media screen and (max-width:1010px) {

  .carousel-text-1{
    font-size: 30px;
  }
  .polygone {
    display: none;
  }
  .courses-section{
    transform: scale(1) translate(0, 0)!important;
  }
}
@media screen and (max-width:900px) {

 
  
}


@media screen and (max-width:825px) {

  .carousel-text-1{
    font-size: 25px;
  }
  .bullet-1{
    width: 50px!important;
    height: 50px!important;
    right: 10px!important;
    top:-10px!important;
  }
  .bullet-2{
    width: 28px!important;
    height: 28px!important;
    right: -10px!important;
    top:30px!important;
  }

  .bullet-3{
    width: 31px!important;
    height: 31px!important;
    right: -5px!important;
    top:10px!important;
  }
}
@media screen and (max-width:610px) {

  .carousel-text-1{
    font-size: 25px;
  }
  .bullet-1{
    width: 25px!important;
    height: 25px!important;
    right: 5px!important;
    top:-5px!important;
  }
  .bullet-2{
    width: 15px!important;
    height: 15px!important;
    right: -5px!important;
    top:15px!important;
  }

  .bullet-3{
    width: 15px!important;
    height: 15px!important;
    right: -3px!important;
    top:5px!important;
  }
  #carousel{
    height: 70vh!important;
  }
}


