// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$myred: #f60929;
$orange: #f6993f;
$myorange: #f67e09;
$yellow: #ffed4a;
$myyellow: #ffe710;
$green: #38c172;
$mygreen: #08d388;
$darkblue: #023029;
$teal: #4dc0b5;
$cyan: #6cb2eb;
