// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap");

// Variables
@import "variables";

// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Flag icon
@import "~flag-icon-css/sass/flag-icon";

@import "colors";
@import "fonts";
@import "borders";
@import "spacing";

@import "body";
@import "header";
@import "aside";
@import "dashboard";
@import "home";
@import "footer";
